.adgesInitiatorEntity .activities-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
}
.adgesInitiatorEntity .activities-img-wrapper {
    display: inline-block;
    background-color: rgba(239, 63, 67, 0.1);
    padding: 8px 11px;
    border-radius: 50%;
    position: relative;
}
.adgesInitiatorEntity .activities-img-wrapper::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FF0000;
    top: 0;
    left: 0;
}
.adgesInitiatorEntity .activities-wrapper-date {
    color: #8C8C8C;
}