<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buttons</title>
  <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="container">
      <div class="mt-4">
        <div class="accordion" id="myAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
              <button type="button" class="shadow-none accordion-button collapsed" data-bs-toggle="collapse"
                data-bs-target="#collapse1">Title</button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
              <div class="collapse-inner-bg p-5">
                <div class="tb-input-group grid-container mb-4">
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12">
                  <h6>Fill in if this request relates to international participation*
                  </h6>
                </div>
                <div class="tb-input-group grid-container mb-4">
                  <div class="tb-input-group p-2 border">
                    <label class="col-12 input-label" for="dataList">Label<sup>*</sup></label>
                    <input class="col-12" id="" name="" placeholder="Placeholder">
                  </div>
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <h6>Will this have an impact on Abu Dhabi?</h6>
                  <div class="d-flex align-items-center">
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">Yes</label>
                  </div>
                  <div>
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">No</label>
                  </div>
                </div>
                <div class="tb-input-group grid-container mb-4">
                  <div class="tb-input-group p-2 border">
                    <label class="col-12 input-label" for="dataList">Label<sup>*</sup></label>
                    <input class="col-12" id="" name="" placeholder="Placeholder">
                  </div>
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <h6>Announcement is related to a member of the Royal Family (HH)*
                  </h6>
                  <div class="d-flex align-items-center">
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">Yes</label>
                  </div>
                  <div>
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">No</label>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
              <button type="button" class="shadow-none accordion-button" data-bs-toggle="collapse"
                data-bs-target="#collapse2">Title</button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
              <div class="collapse-inner-bg p-5">
                <div class="tb-input-group grid-container mb-4">
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12">
                  <h6>Fill in if this request relates to international participation*
                  </h6>
                </div>
                <div class="tb-input-group grid-container mb-4">
                  <div class="tb-input-group p-2 border">
                    <label class="col-12 input-label" for="dataList">Label<sup>*</sup></label>
                    <input class="col-12" id="" name="" placeholder="Placeholder">
                  </div>
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <h6>Will this have an impact on Abu Dhabi?</h6>
                  <div class="d-flex align-items-center">
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">Yes</label>
                  </div>
                  <div>
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">No</label>
                  </div>
                </div>
                <div class="tb-input-group grid-container mb-4">
                  <div class="tb-input-group p-2 border">
                    <label class="col-12 input-label" for="dataList">Label<sup>*</sup></label>
                    <input class="col-12" id="" name="" placeholder="Placeholder">
                  </div>
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <h6>Announcement is related to a member of the Royal Family (HH)*
                  </h6>
                  <div class="d-flex align-items-center">
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">Yes</label>
                  </div>
                  <div>
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">No</label>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
              <button type="button" class="shadow-none accordion-button" data-bs-toggle="collapse"
                data-bs-target="#collapse3">Title</button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
              <div class="collapse-inner-bg p-5">
                <div class="tb-input-group grid-container mb-4">
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12">
                  <h6>Fill in if this request relates to international participation*
                  </h6>
                </div>
                <div class="tb-input-group grid-container mb-4">
                  <div class="tb-input-group p-2 border">
                    <label class="col-12 input-label" for="dataList">Label<sup>*</sup></label>
                    <input class="col-12" id="" name="" placeholder="Placeholder">
                  </div>
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <h6>Will this have an impact on Abu Dhabi?</h6>
                  <div class="d-flex align-items-center">
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">Yes</label>
                  </div>
                  <div>
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">No</label>
                  </div>
                </div>
                <div class="tb-input-group grid-container mb-4">
                  <div class="tb-input-group p-2 border">
                    <label class="col-12 input-label" for="dataList">Label<sup>*</sup></label>
                    <input class="col-12" id="" name="" placeholder="Placeholder">
                  </div>
                  <div class="p-2 border">
                    <label class="col-12 input-label" for="input2">Select
                      Label<sup>*</sup></label>
                    <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
                      placeholder="placeholder..">
                    <i class="fa fa-solid fa-angle-down"></i>
                    <ul class="col-12 input-dropdown-list list-group rounded-0">
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal </span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                      <li class="list-group-item d-flex align-items-center ">
                        <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                          <img src="../assets/images/nodata.png" alt="" class="img-100">
                        </div>
                        <span class="ms-3">Avashesh Jaiswal</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <h6>Announcement is related to a member of the Royal Family (HH)*
                  </h6>
                  <div class="d-flex align-items-center">
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">Yes</label>
                  </div>
                  <div>
                    <input class="me-3" type="radio" id="SpecifyColor" name="fav_language" value="HTML">
                    <label for="html">No</label>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
      <!-- accordions ends here -->
  
    </div>
</body>

<!-- Javascript-files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="../javascript/script.js"></script>
<script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/plugins.min.js"></script>

</html>