<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colors</title>
    <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
   <div class="container">
         <!-- Colors starts Here -->
     <h1>Primary Color</h1>
     <div class="row g-3">
       <div class="col-lg-2 col-sm-12 col-12">
         <div class="p-4 tb-bg-primary tb-rounded"></div>
       </div>
     </div>
     <h1>Status Colors</h1>
     <div class="row g-3">
       <div class="col-lg-2 col-sm-12 col-12 ">
         <div class="p-4 tb-rounded  tb-bg-green"></div>
       </div>
       <div class="col-lg-2 col-sm-12 col-12">
         <div class="p-4 tb-rounded  tb-bg-blue"></div>
       </div>
       <div class="col-lg-2 col-sm-12 col-12">
         <div class="p-4 tb-rounded tb-bg-yellow"></div>
       </div>
       <div class="col-lg-2  col-sm-12 col-12">
         <div class="p-4 tb-rounded  tb-bg-orange"></div>
       </div>
       <div class="col-lg-2 col-sm-12 col-12">
         <div class="p-4 tb-rounded tb-bg-purple"></div>
       </div>
       <div class="col-lg-2 col-sm-12 col-12">
         <div class="p-4 tb-rounded tb-bg-pink"></div>
       </div>
     </div>
     <h1>Gray Base Colors</h1>
     <div class="row g-3">
       <div class="col-lg-2 col-sm-12 col-12 ">
         <div class="p-4 p-4 tb-rounded  gray-100"></div>
       </div>
       <div class="col-lg-2 col-sm-12 col-12">
         <div class="p-4 tb-rounded  gray-200"></div>
       </div>
       <div class="col-lg-2 col-sm-12 col-12">
         <div class="p-4 tb-rounded gray-300"></div>
       </div>
       <div class="col-lg-2  col-sm-12 col-12">
         <div class="p-4 tb-rounded  gray-400"></div>
       </div>
       <div class="col-lg-2 col-sm-12 col-12">
         <div class="p-4 tb-rounded gray-500"></div>
       </div>
       <div class="col-lg-2 col-sm-12 col-12">
         <div class="p-4 tb-rounded gray-600"></div>
       </div>
     </div>
     <h1>Typgraphy Colors</h1>
     <div class="row g-3">
       <div class="col-lg-4 col-sm-12 col-12 ">
         <div class="p-3 tb-rounded  text-base-white  gray-500">Text Color for dark Background</div>
       </div>
       <div class="col-lg-4 col-sm-12 col-12">
         <div class="p-3 tb-rounded  text-base-black">Text Color for light Background</div>
       </div>
     </div>
     <!-- Colors Ends Here -->
     
   </div>
</body>

<!-- Javascript-files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="../javascript/script.js"></script>
<script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/plugins.min.js"></script>

</html>