<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Global Components</title>

  <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://c  dn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/style.css">

</head>
<body>
  <div class="container px-4">  
    <h3 class="tb-h2"><a href="./accordions.html">Accordions</a></h3>
    <h3 class="tb-h2"><a href="./buttons.html">Buttons</a></h3>
    <h3 class="tb-h2"><a href="./colors.html">Colors</a></h3>
    <h3 class="tb-h2"><a href="./headerSidebar.html">Header and Sidebar</a></h3>
    <h3 class="tb-h2"><a href="./headingsParagraphs.html">Headings and Paragraphs</a></h3>
    <h3 class="tb-h2"><a href="./inputsDropdowns.html">Inputs and dropdown</a></h3>
    <h3 class="tb-h2"><a href="./modals.html">Modals</a></h3>
    <h3 class="tb-h2"><a href="./pagesCards.html">Cards</a></h3>
    <h3 class="tb-h2"><a href="./pagesComponents.html">Pages large components (tabs accordions)</a></h3>
    <h3 class="tb-h2"><a href="./statusLabelsBreadcrumbs.html">Status Labels & Breadcrumbs</a></h3>
    <h3 class="tb-h2"><a href="./tables.html">Tables</a></h3>
    <!-- <h3 class="tb-h2"><a href="./accordions.html">accordions</a></h3> -->
  </div>
  <!-- container ends -->
</body>
<!-- Javascript-files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="../javascript/script.js"></script>
<script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/plugins.min.js"></script>

</html>