<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>headings-paragraphs</title>
  <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container">
    <div class="my-5">
        <h1>Headings</h1>
        <h1 class="tb-heading-1">Display heading 1</h1>
        <h1 class="tb-heading-2">Display heading 2</h1>
        <h1 class="tb-h1">heading 1</h1>
        <h1 class="tb-h2">heading 2</h1>
        <h1 class="tb-h3">heading 3</h1>
        <h1 class="tb-h4">heading 4</h1>
        <h1 class="tb-h5">heading 5</h1>
      </div>
      <!-- Headings ends Here -->
      <div class="my-5">
        <h1>Para</h1>
        <p class="lead-paragraph">In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorper at,
          cursus in sem. Nunc condimentum, purus ac sagittis ultricies, metus leo pharetra mi, non vehicula felis elit et
          nisi. Etiam venenatis commodo libero, vel ullamcorper nibh lobortis vel. Aliquam auctor porta tortor, nec
          consequat nibh finibus a. Sed ultrices risus eget iaculis luctus. Mauris vel gravida magna.</p>
        <p class="regular-paragraph">In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorper
          at, cursus in sem. Nunc condimentum, purus ac sagittis ultricies, metus leo pharetra mi, non vehicula felis elit
          et nisi. Etiam venenatis commodo libero, vel ullamcorper nibh lobortis vel. Aliquam auctor porta tortor, nec
          consequat nibh finibus a. Sed ultrices risus eget iaculis luctus. Mauris vel gravida magna.</p>
        <p class="bold-paragraph">In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorper at,
          cursus in sem. Nunc condimentum, purus ac sagittis ultricies, metus leo pharetra mi, non vehicula felis elit et
          nisi. Etiam venenatis commodo libero, vel ullamcorper nibh lobortis vel. Aliquam auctor porta tortor, nec
          consequat nibh finibus a. Sed ultrices risus eget iaculis luctus. Mauris vel gravida magna.</p>
        <p class="small-paragraph">In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorper at,
          cursus in sem. Nunc condimentum, purus ac sagittis ultricies, metus leo pharetra mi, non vehicula felis elit et
          nisi. Etiam venenatis commodo libero, vel ullamcorper nibh lobortis vel. Aliquam auctor porta tortor, nec
          consequat nibh finibus a. Sed ultrices risus eget iaculis luctus. Mauris vel gravida magna.</p>
        <p class="caption-paragraph">In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorper
          at, cursus in sem. Nunc condimentum, purus ac sagittis ultricies, metus leo pharetra mi, non vehicula felis elit
          et nisi. Etiam venenatis commodo libero, vel ullamcorper nibh lobortis vel. Aliquam auctor porta tortor, nec
          consequat nibh finibus a. Sed ultrices risus eget iaculis luctus. Mauris vel gravida magna.</p>
      </div>
      <!-- Paragraphs ends here -->
  </div>  
</body>

<!-- Javascript-files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="../javascript/script.js"></script>
<script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/plugins.min.js"></script>

</html>