<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>inputs and dropdowns</title>
  <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <div class="container">
    <div class="row mt-4">
      <h1>Inputs and Dropdowns</h1>
      <div class="col-md-3 mt-3">
        <div class="tb-input-group p-2 border">
          <label class="col-12 input-label" for="dataList">Label<sup>*</sup></label>
          <input class="col-12 input-field" id="" name="" placeholder="Placeholder">
        </div>
        <p class="error-message">• Error message</p>
      </div>

      <div class="col-md-3">
        <div class="tb-input-group p-2 mt-3 border">
          <label class="col-12 input-label" for="date">Calendar<sup>*</sup></label>
          <input type="date" class="col-12 input-field" id="date">
        </div>
        <p class="error-message">• Error message</p>

      </div>

      <div class="col-md-3">
        <div class="tb-input-group p-2 mt-3 border">
          <label class="col-12 input-label" for="input">Select Label<sup>*</sup></label>
          <input class="col-11 input" autocomplete="off" role="combobox" id="input" name="browsers"
            placeholder="placeholder..">
          <i class="fa fa-solid fa-angle-down"></i>
          <datalist id="browsers" role="listbox">
            <option value="Brookyln Simmons">Brookyln Simmons</option>
            <option value="Jacob Jones">Jacob Jones</option>
            <option value="Guy Hawkins">Guy Hawkins</option>
          </datalist>
        </div>
        <p class="error-message">• Error message</p>
      </div>

      <div class="col-md-3">
        <div class="tb-input-group d-flex align-items-center  p-2 mt-3">
          <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
            <img src="../assets/images/Profile image.png" alt="" class="img-100 selected-dropdown-image">
          </div>
          <div>
            <label class="col-12 input-label" for="input-image">Select Label<sup>*</sup></label>
            <input class="col-11 input-img" autocomplete="off" role="combobox" id="input-image" name="browsers"
              placeholder="placeholder..">
            <i class="fa fa-solid fa-angle-down"></i>

            <ul class="col-12 input-dropdown-list list-group rounded-0">
              <li class="list-group-item d-flex align-items-center " value="Avashesh">
                <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                  <img src="../assets/images/Profile image.png" alt="Brookyln Simmons" class="img-100">
                </div>
                <span class="ms-3">Brookyln Simmons </span>
              </li>
              <li class="list-group-item d-flex align-items-center " value="2">
                <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                  <img src="../assets/images/person1.jpg" alt="Jacob Jones" class="img-100">
                </div>
                <span class="ms-3">Jacob Jones</span>
              </li>
              <li class="list-group-item d-flex align-items-center " value="3">
                <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                  <img src="../assets/images/Profile image.png" alt="Guy Hawkins" class="img-100">
                </div>
                <span class="ms-3">Guy Hawkins</span>
              </li>
            </ul>
          </div>
        </div>
        <p class="error-message">• Error message</p>
      </div>

      <div class="col-md-3">
        <div class="tb-input-group d-flex align-items-center p-2 mt-3 border">
          <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
            <img src="../assets/images/person1.jpg" alt="" class="img-100">
          </div>
          <div>
            <label class="col-12 input-label" for="input2">Select Label<sup>*</sup></label>
            <input class="col-11 dropdown-input " autocomplete="off" role="combobox" id="input2" name="browsers"
              placeholder="placeholder..">
            <i class="fa fa-solid fa-angle-down"></i>
            <ul class="col-12 input-dropdown-list list-group rounded-0">
              <li class="list-group-item d-flex align-items-center ">
                <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                  <img src="../assets/images/Profile image.png" alt="" class="img-100">
                </div>
                <span class="ms-3">Brookyln Simmons </span>
              </li>
              <li class="list-group-item d-flex align-items-center ">
                <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                  <img src="../assets/images/info-icon.png" alt="" class="img-100">
                </div>
                <span class="ms-3">Brookyln Simmons</span>
              </li>
              <li class="list-group-item d-flex align-items-center ">
                <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                  <img src="../assets/images/nodata.png" alt="" class="img-100">
                </div>
                <span class="ms-3">Brookyln Simmons</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="tb-input-group p-2 border">
          <label class="col-12 input-label" for="dataList">Label<sup>*</sup></label>
          <input class="col-12" id="" name="" placeholder="Placeholder">
        </div>
        <div class="tb-input-group p-2 border">
          <label class="col-12 input-label text-end" for="dataList"><sup>*</sup>
            لیبل</label>
          <input class="col-12 text-end" id="" name="" placeholder="پلیس ہولڈر">
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="tb-input-group d-flex align-items-center  p-2">
        <div class="w-h-35 col-3 rounded-circle img-cover overflow-hidden m-1">
          <img src="../assets/images/person1.jpg" alt="" class="img-100 selected-dropdown-image">
        </div>
        <div class="col-11 ms-2">
          <label class="col-12 input-label" for="input-image">Assignee<sup>*</sup></label>
          <input class="col-11 input-img" autocomplete="off" role="combobox" id="input-image" name="browsers"
            placeholder="placeholder..">
          <i class="fa fa-solid fa-angle-down"></i>

          <ul class="col-12 input-dropdown-list list-group rounded-0">
            <li class="list-group-item d-flex align-items-center " value="Avashesh">
              <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                <img src="../assets/images/Profile image.svg" alt="Brookyln Simmons" class="img-100">
              </div>
              <span class="ms-3">Brookyln Simmons </span>
            </li>
            <li class="list-group-item d-flex align-items-center " value="2">
              <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                <img src="../assets/images/person1.jpg" alt="Jacob Jones" class="img-100">
              </div>
              <span class="ms-3">Jacob Jones</span>
            </li>
            <li class="list-group-item d-flex align-items-center " value="3">
              <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                <img src="../assets/images/Profile image.svg" alt="Guy Hawkins" class="img-100">
              </div>
              <span class="ms-3">Guy Hawkins</span>
            </li>
          </ul>
        </div>
      </div>
      <p class="error-message">• Error message</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="tb-input-group d-flex p-3 mt-3 border">
          <label class="col-4 input-label" for="input">Choose File<sup>*</sup></label>
          <input type="text" class="col-5" id="uploadFile" placeholder="Choose File" />
          <div class="fileUpload btn-sm tb-btn-primary tb-rounded">
            <span class="tb-fs-14">browse</span>
            <input id="uploadBtn" type="file" class="upload" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="tb-input-group d-flex p-3 mt-3 border">
          <label class="col-4 input-label" for="input">Choose File<sup>*</sup></label>
          <input type="text" class="col-5" id="uploadFile" placeholder="choose file" />
          <div class="fileUpload btn-sm tb-btn-primary tb-rounded">
            <span class="tb-fs-14">browse</span>
            <input id="uploadBtn" type="file" class="upload" />
          </div>
        </div>
        <div class="tb-input-group d-flex flex-row-reverse p-3 border">
          <label class="col-4 input-label text-end" for="input"><sup>*</sup>لیبل</label>
          <input type="text" class="col-5 text-end" id="uploadFile" placeholder="پلیس ہولڈر" />
          <div class="fileUpload btn-sm tb-btn-primary tb-rounded">
            <span class="tb-fs-14">browse</span>
            <input id="uploadBtn" type="file" class="upload" />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="tb-input-group p-2 mt-3 border">
          <label class="col-12 input-label" for="date">Calendar<sup>*</sup></label>
          <input type="date" class="col-12" id="date">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-3">
        <div class="tb-input-group p-2 border">
          <label class="col-12 input-label" for="dataList">Label Rich Text<sup>*</sup></label>
          <textarea id="editor" placeholder="Placeholder"></textarea>
        </div>
      </div>
    </div>
    <!-------------- Input And Dropdowns Ends Here -------------->
  </div>
</body>

<!-- Javascript-files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="../javascript/inputs&dropdowns.js"></script>
<script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: 'textarea#editor',
    skin: 'bootstrap',
    plugins: 'lists, link, image, media',
    toolbar: 'fontsize bold italic underline strikethrough alignleft aligncentre alignright alignjustify bullist numlist backcolor forecolor save',
    menubar: false
  });
</script>


</html>