<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>modals</title>
  <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <div class="container">
    <!--Request Modal starts here -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Unanswered News btn2
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog main-modal">
        <div class="modal-content inner-modal-content box-shadow-popup p-4">
          <div class="modal-header align-items-start p-0">
            <img src="../assets/images/popup-img.png" class="me-4" alt="" width="70">
            <div>
              <h5 class="modal-title" id="exampleModalLabel">Unanswered News request recieved</h5>
              <p class="m-0">Kanäsat räning, plus semid. Dåhet roredade. Fonyrade gigaskapet. Daköktig fande. </p>
            </div>
            <button type="button" class="btn-close close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer p-0 pt-3">
            <!-- <button type="button" class="btn" data-bs-dismiss="modal">Go to Requests</button> -->
            <a href="#" class="text-decoration-none text-base-black fw-bold fs-5">Go to Requests</a>
            <button
              class="btn tb-btn-popup tb-btn-popup-hover tb-rounded fw-bold fs-5 py-2 px-3 ms-4 text-base-black m-0 border-0"
              type="button">View All
              Requests</button>
          </div>
        </div>
      </div>
    </div>
    <div class="m-2 p-2">
    </div>
    <!-- 1st modal ends here -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
      Unanswered News btn1
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog main-modal">
        <div class="modal-content inner-modal-content box-shadow-popup">
          <div class="modal-header align-items-start">
            <img src="../assets/images/popup-img.png" class="me-4" alt="" width="70">
            <div>
              <h5 class="modal-title" id="exampleModalLabel">Unanswered News request recieved</h5>
              <p class="m-0">Kanäsat räning, plus semid. Dåhet roredade. Fonyrade gigaskapet. Daköktig fande. </p>
            </div>
            <button type="button" class="btn-close close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer pt-0">
            <button class="btn tb-btn-popup tb-btn-popup-hover rounded-0 font-weight-400" type="button">View All
              Requests</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd modal ends here -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
      Unanswered News
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content box-shadow-popup">
          <div class="modal-header align-items-start">
            <img src="../assets/images/popup-img.png" class="me-4" alt="" width="70">
            <div>
              <h5 class="modal-title" id="exampleModalLabel">Unanswered News request recieved</h5>
              <p class="m-0">Kanäsat räning, plus semid. Dåhet roredade. Fonyrade gigaskapet. Daköktig fande. </p>
            </div>
            <button type="button" class="btn-close close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Request modal ends here -->


    <div class="m-2 p-2">
    </div>
    <!--Request Modal starts here -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
      Accept Request
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog main-modal">
        <div class="modal-content inner-modal-content-box box-shadow-popup">
          <div class="modal-header align-items-start p-4">
            <div>
              <h5 class="modal-title tb-h3 text-black" id="exampleModalLabel">Accept Request</h5>
            </div>
            <button type="button" class="btn-close close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer collapse-inner-bg py-4 px-5">
            <div class="col-12">
              <div class="tb-input-group  tb-inp align-items-center p-2 border-0">
                <div>
                  <label class="col-12 input-label fs-6" for="input2">Priority</label>
                  <input class="col-11" autocomplete="off" role="combobox" id="input2" name="browsers"
                    placeholder="L2 - Important">
                  <i class="fa fa-solid fa-angle-down"></i>
                  <ul class="col-12 input-dropdown-list list-group rounded-0">
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal </span>
                    </li>
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal</span>
                    </li>
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3 due-date-outer">
              <div class="p-2 border-0">
                <div>
                  <label class="col-12 fs-6" for="dataList">Due Date*</label>
                </div>
                <input class="col-12 bg-transparent" list="datalistOptions" id="dataList"
                  placeholder="Placeholder text">
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="tb-input-group  tb-inp align-items-center p-2 border-0">
                <div>
                  <label class="col-12 input-label fs-6" for="input2">Confidentiality</label>
                  <input class="col-11 dropdown-input" autocomplete="off" role="combobox" id="input2" name="browsers"
                    placeholder="Select option">
                  <i class="fa fa-solid fa-angle-down"></i>
                  <ul class="col-12 input-dropdown-list list-group rounded-0">
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal </span>
                    </li>
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal</span>
                    </li>
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="border-0 info-outer tb-input-group">
                <div class="d-flex">
                  <div>
                    <img class="info-icon" src="../assets/images/info-icon1.svg" alt="">
                  </div>
                  <p class="px-3 m-0">
                    You are about accept this request, please note the due date is automatically defined by the Priority
                    of the request.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-4">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn-md tb-btn-primary tb-rounded p-4 border-0">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 3rd modal ends here -->



    <div class="m-2 p-2">
    </div>
    <!--Request Modal starts here -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
      Decline Request
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog main-modal">
        <div class="modal-content inner-modal-content-box box-shadow-popup">
          <div class="modal-header align-items-start p-4">
            <div>
              <h5 class="modal-title tb-h3 text-black" id="exampleModalLabel">Decline Request</h5>
            </div>
            <button type="button" class="btn-close close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer collapse-inner-bg py-4 px-5">
            <div class="col-12">
              <div class="tb-input-group  tb-inp align-items-center p-2 border-0">
                <div>
                  <label class="col-12 input-label fs-6" for="input2">Add notes</label>
                  <textarea class="decline-request border-0 ps-0" rows="4" cols="59"
                    placeholder="Placeholder text"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-4">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn-md tb-btn-primary tb-rounded p-4 border-0">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 4th modal ends here -->



    <!--Request Modal starts here -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">
      Request more information
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog main-modal">
        <div class="modal-content inner-modal-content-box box-shadow-popup">
          <div class="modal-header align-items-start p-4">
            <div>
              <h5 class="modal-title tb-h3 text-black" id="exampleModalLabel">Request more information </h5>
            </div>
            <button type="button" class="btn-close close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer collapse-inner-bg py-4 px-5">
            <div class="col-12">
              <div class="tb-input-group tb-inp align-items-center px-4 py-3 border-0">
                <div>
                  <label class="col-12 input-label fs-6" for="input2">Add notes</label>
                  <textarea class="decline-request border-0 ps-0" rows="4" cols="55"
                    placeholder="Placeholder text"></textarea>
                </div>
              </div>
            </div>
            <div class="col-12 bg-white px-4 py-3  mt-3">
              <div class="col-12 d-flex">
                <label class="input-label fs-6" for="input2">Attach File</label>
              </div>
              <div class="col-12 d-flex justify-content-between">
                <div class="col-6 me-1">
                  <div class=" mt-3">
                    <div class="fileUpload btn-lg tb-rounded tb-btn-popup text-nowrap p-3">
                      <span class="tb-fs-14">Select from attachment</span>
                      <input id="uploadBtn" type="file" class="upload">
                    </div>
                  </div>
                </div>
                <div class="col-6 ms-1">
                  <div class=" mt-3">
                    <div class="fileUpload btn-lg tb-rounded tb-btn-popup text-nowrap p-3">
                      <span class="tb-fs-14 mx-3">Upload from device</span>
                      <img src="../assets/images/right-arrow.svg" alt="">
                      <input id="uploadBtn" type="file" class="upload">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-4 d-flex justify-content-center">
                <p class="tb-gray-400 mb-0">
                  Document must be in the following formats xxxxxx
                </p>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="collapse-inner-bg tb-input-group tb-inp px-2 py-2  align-items-center border-0">
                <div class="d-flex">
                  <div>
                    <img src="../assets/images/Ellipse.png" alt="">
                  </div>
                  <div class="w-100 px-2">
                    <label class="col-12 input-label fs-6" for="input2">Select Assignee</label>
                    <label class="col-12 input-label fs-6" for="input2">Cameron Williamson</label>
                    <label class="col-12 input-label fs-6" for="input2">Content</label>
                    <i class="fa fa-solid fa-angle-down"></i>
                  </div>
                  <ul class="col-12 input-dropdown-list list-group rounded-0">
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal </span>
                    </li>
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal</span>
                    </li>
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal</span>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-4">
            <div class="d-flex justify-content-center">
              <button type="button" class="btn-md tb-btn-primary tb-rounded p-4 border-0">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 5th modal ends here -->



    <div class="m-2 p-2">
    </div>
    <!--Request Modal starts here -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">
      Send Request
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog main-modal">
        <div class="modal-content inner-modal-content-box box-shadow-popup">
          <div class="modal-header align-items-start p-4">
            <div>
              <h5 class="modal-title tb-h3 text-black" id="exampleModalLabel">Send Request</h5>
            </div>
            <button type="button" class="btn-close close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer collapse-inner-bg px-4 py-3">
            <div class="col-12">
              <div class="border-0 info-outer tb-input-group">
                <div class="d-flex justify-content-center">
                  <div>
                    <img class="info-icon" src="../assets/images/info-icon1.svg" alt="">
                  </div>
                  <p class="ps-3 m-0">
                    You are about Send this request, sending this request will submit <br> it to the media office.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 6th modal ends here -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Edit PRL (EN)
    </button>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header bg-white align-items-start p-4">
            <div>
              <h5 class="modal-title tb-h3 text-black" id="exampleModalLabel">Edit PRL (EN)</h5>
            </div>
            <button type="button" class="btn-close close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body collapse-inner-bg px-4 py-3">
            <div class="col-12 mt-3">
              <div class="collapse-inner-bg tb-input-group tb-inp px-2 py-2  align-items-center border-0">
                <div class="d-flex">
                  <div>
                    <img src="../assets/images/Ellipse.png" alt="">
                  </div>
                  <div class="w-100 px-2">
                    <label class="col-12 input-label fs-6 text-uppercase fw-semibold" for="input2">Assignee</label>
                    <input class="col-11 collapse-inner-bg opacity-25" autocomplete="off" role="combobox" id="input2"
                      name="browsers" placeholder="Placeholder Text">
                    <label class="col-12 input-label fs-5 opacity-50" for="input2">Content</label>
                    <i class="fa fa-solid fa-angle-down"></i>
                  </div>
                  <ul class="col-12 input-dropdown-list list-group rounded-0">
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal </span>
                    </li>
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal</span>
                    </li>
                    <li class="list-group-item d-flex align-items-center ">
                      <div class="w-h-35 rounded-circle border-gray-200 img-cover overflow-hidden m-1">
                        <img src="../assets/images/nodata.png" alt="" class="img-100">
                      </div>
                      <span class="ms-3">Avashesh Jaiswal</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="tb-input-group tb-inp align-items-center px-4 py-3 border-0">
                <div>
                  <label class="col-12 input-label fs-6" for="input2">Heading</label>
                  <textarea class="decline-request border-0 ps-0" rows="4" cols="44"
                    placeholder="Placeholder"></textarea>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="tb-input-group tb-inp align-items-center px-4 py-3 border-0">
                <div>
                  <label class="col-12 input-label fs-6" for="input2">Subheading</label>
                  <textarea class="decline-request border-0 ps-0" rows="1" cols="44"
                    placeholder="Placeholder text"></textarea>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="tb-input-group tb-inp align-items-center px-4 py-3 border-0">
                <div>
                  <form method="post">
                    <label class="col-12 input-label fs-6" for="input2">Body</label>
                    <textarea class="mytextarea decline-request border-0 ps-0" rows="4" cols="44"
                      placeholder="Placeholder"></textarea>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 7th modal ends here -->

    <div class="m-2 p-2">
    </div>
    <!-- Request Modal starts here -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
      Global search popup
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal8" aria-modal="true" tabindex="-1" aria-labelledby="exampleModalLabel"
      role="dialog">
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content modal-dialog-scrollable">
          <div class="modal-header collapse-inner-bg align-items-start px-4 pt-4 pb-1">
            <div>
              <h5 class="modal-title tb-h3 text-black" id="exampleModalLabel">Global Search</h5>
            </div>
            <button type="button" class="btn-close close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body collapse-inner-bg px-4 py-3">
            <div class="col-12">
              <div class="tb-input-group tb-rounded-md tb-inp align-items-center px-4 py-3 border-0">
                <div class="col-12 d-flex">
                  <div class="col-6">
                    <div class="topnav p-2">
                      <div class="search-container col-12">
                        <form>
                          <img src="../assets/images/Icons/Vector (1).svg" alt="">
                          <input class="bg-transparent w-75 ps-3 me-5" type="text" placeholder="Today" name="search">
                          <img class="ms-3 ps-1" src="../assets/images/Icons/Vector.svg" alt="">
                        </form>
                      </div>
                    </div>
                  </div>
                  <a href="../pages/searchResult.html" target="_blank" class="text-decoration-none">
                    <button type="button" class="btn-md tb-btn-primary tb-rounded ms-2 p-1 border-0">
                      Save search
                    </button>
                  </a>
                  <div class="col-4 d-flex justify-content-end">
                    <button class="btn btn-sm tb-btn-secondary tb-rounded me-3" type="button">English</button>
                    <button class="btn btn-sm tb-btn-secondary tb-rounded" type="button">يبرع</button>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <label class="col-12 input-label fs-6" for="input2">Filters</label>
                </div>
                <div class="col-12 mt-3 d-flex">
                  <div class="dropdown">
                    <button type="button" href="#"
                      class="btn-lg collapse-inner-bg fw-semibold tb-rounded border-0 dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Request ID
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button type="button" href="#"
                      class="btn-lg collapse-inner-bg fw-semibold tb-rounded ms-2  border-0 dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Sector
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button type="button" href="#"
                      class="btn-lg collapse-inner-bg fw-semibold tb-rounded ms-2  border-0 dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Entity
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button type="button" href="#"
                      class="btn-lg collapse-inner-bg fw-semibold tb-rounded ms-2  border-0 dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Request
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button type="button" href="#"
                      class="btn-lg collapse-inner-bg fw-semibold tb-rounded ms-2  border-0 dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Type
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button type="button" href="#"
                      class="btn-lg collapse-inner-bg fw-semibold tb-rounded ms-2  border-0 dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Saved Searches
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 mt-3 d-flex">
                  <div class="dropdown">
                    <button type="button" href="#"
                      class="btn-lg collapse-inner-bg fw-semibold tb-rounded  border-0 dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Task
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button type="button" href="#"
                      class="btn-lg collapse-inner-bg fw-semibold tb-rounded ms-2  border-0 dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Unpublished Asset
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button type="button" href="#"
                      class="btn-lg collapse-inner-bg fw-semibold tb-rounded ms-2  border-0 dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Published Asset
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button type="button" href="#"
                      class="btn-lg collapse-inner-bg fw-semibold tb-rounded ms-2  border-0 dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Created date
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div>
                <h5 class="modal-title tb-h4 text-black " id="exampleModalLabel">Today</h5>
              </div>
            </div>

            <div class="col-12 mt-3">
              <div class="tb-input-group tb-inp align-items-center px-2 pt-3 pb-1 border-0 ">
                <div class="col-12 d-flex justify-content-between">
                  <div class="col-4 d-flex ms-2">
                    <div>
                      <img src="../assets/images/Icons/clipboard-list.svg" alt="">
                    </div>
                    <div class="ps-3">
                      <h5 class="fw-bold tb-fs-16">Creative Subtask #13657</h5>
                      <span class="tb-fs-14 opacity-50">Created 18 Aug</span>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="col-12">
              <div class="tb-input-group tb-inp align-items-center px-2 pt-3 pb-1 border-0 ">
                <div class="col-12 d-flex justify-content-between">
                  <div class="col-4 d-flex ms-2">
                    <div>
                      <img src="../assets/images/Icons/clipboard-list.svg" alt="">
                    </div>
                    <div class="ps-3">
                      <h5 class="fw-bold tb-fs-16">Creative Subtask #13657</h5>
                      <span class="tb-fs-14 opacity-50">Created 18 Aug</span>
                    </div>
                  </div>
                  <div class="col-5 d-flex align-items-center justify-content-end me-3">
                    <span class="opacity-50">Last modified: &nbsp;</span> <span> 15 minutes ago</span>
                    <button type="button" class="btn-md gray-700 tb-rounded ms-3 tb-fs-16 border-0">
                      View
                    </button>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="col-12">
              <div class="tb-input-group tb-inp align-items-center px-2 pt-3 pb-1 border-0 ">
                <div class="col-12 d-flex justify-content-between">
                  <div class="col-4 d-flex ms-2">
                    <div>
                      <img src="../assets/images/Icons/clipboard-list.svg" alt="">
                    </div>
                    <div class="ps-3">
                      <h5 class="fw-bold tb-fs-16">Production Subtask #13657</h5>
                      <span class="tb-fs-14 opacity-50">Created 18 Aug</span>
                    </div>
                  </div>
                  <div class="col-5 d-flex align-items-center justify-content-end  me-3">
                    <span class="opacity-50">Last modified: &nbsp;</span> <span> 15 minutes ago</span>
                    <button type="button" class="btn-md gray-700 tb-rounded ms-3 tb-fs-16 border-0">
                      View
                    </button>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="col-12">
              <div class="tb-input-group tb-inp align-items-center px-2 pt-3 pb-1 border-0 ">
                <div class="col-12 d-flex justify-content-between">
                  <div class="col-4 d-flex ms-2">
                    <div>
                      <img src="../assets/images/person1.jpg" alt="">
                    </div>
                    <div class="ps-3">
                      <h5 class="fw-bold tb-fs-16">News_headshot.jpeg</h5>
                      <span class="tb-fs-14 opacity-50">Created 18 Aug</span>
                    </div>
                  </div>
                  <div class="col-5 d-flex align-items-center justify-content-end  me-3">
                    <span class="opacity-50">Last modified: &nbsp;</span> <span> 15 minutes ago</span>
                    <img class="px-3" src="../assets/images/download.png" alt="">
                    <button type="button" class="btn-md gray-700 tb-rounded ms-3 tb-fs-16 border-0">
                      View
                    </button>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="col-12">
              <div class="tb-input-group tb-inp align-items-center px-2 pt-3 pb-1 border-0 ">
                <div class="col-12 d-flex justify-content-between">
                  <div class="col-4 d-flex ms-2">
                    <div>
                      <img src="../assets/images/movie.jpg" alt="">
                    </div>
                    <div class="ps-3">
                      <h5 class="fw-bold tb-fs-16">Dubai_newstrailer.mov</h5>
                      <span class="tb-fs-14 opacity-50">Created 18 Aug</span>
                    </div>
                  </div>
                  <div class="col-5 d-flex align-items-center justify-content-end  me-3">
                    <span class="opacity-50">Last modified: &nbsp;</span> <span> 15 minutes ago</span>
                    <img class="px-3" src="../assets/images/download.png" alt="">
                    <button type="button" class="btn-md gray-700 tb-rounded ms-2 tb-fs-16 border-0">
                      View
                    </button>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="col-12">
              <div class="tb-input-group tb-inp align-items-center px-2 pt-3 pb-1 border-0 ">
                <div class="col-12 d-flex justify-content-between">
                  <div class="col-4 d-flex ms-2">
                    <div>
                      <img src="../assets/images/Icons/L1.svg" alt="">
                    </div>
                    <div class="ps-3">
                      <h5 class="fw-bold tb-fs-16">News Request #13657</h5>
                      <span class="tb-fs-14 opacity-50">Created 18 Aug</span>
                    </div>
                  </div>
                  <div class="col-3 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn-md tb-btn-primary tb-rounded ms-2 p-1 border-0">
                      View All Results
                    </button>
                  </div>
                  <div class="col-5 d-flex align-items-center justify-content-end  px-4">
                    <span class="opacity-50">Last modified: &nbsp;</span> <span> 15 minutes ago</span>
                    <button type="button" class="btn-md gray-700 tb-rounded ms-3 tb-fs-16 border-0">
                      View
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Global Search popup -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9">
      Media player Properties
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content box-shadow-popup mx-5">
          <div class="row modal-header p-4 pb-0 d-flex pe-5">
            <div class="col-9 text-end pe-0">
              <h5 class="modal-title tb-h3 text-black me-2" id="exampleModalLabel">Properties</h5>
            </div>
            <button type="button" class="col-3 btn-close close-dark m-0" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row m-3">
              <div class="col-7">
                <img class="w-100" src="../assets/images/video-img.svg" alt="">
              </div>
              <div class="col-5">
                <div class="col-12 ms-3">
                  <div class="col-12 d-flex align-items-center">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14">Created by: </h5>
                    </div>
                    <div class="col-6 ms-1">
                      <img src="../assets/images/Icons/LA.svg" alt="">
                    </div>
                  </div>
                  <div class="col-12 d-flex align-items-center pt-1">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14">Entity created for: </h5>
                    </div>
                    <div class="col-6 ms-1">
                      <h5 class="m-0 tb-fs-14">Entity</h5>
                    </div>
                  </div>
                  <div class="col-12 d-flex align-items-center pt-2">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14">Sector created for: </h5>
                    </div>
                    <div class="col-6 ms-1">
                      <h5 class="m-0 tb-fs-14">Sector</h5>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="col-12 ms-3">
                  <div class="col-12 d-flex align-items-center">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14">File Type: </h5>
                    </div>
                    <div class="col-6 ms-1">
                      <h5 class="m-0 tb-fs-14">PDF Document</h5>
                    </div>
                  </div>
                  <div class="col-12 d-flex align-items-center pt-2">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14">Location: </h5>
                    </div>
                    <div class="col-6 ms-1">
                      <a href="" class="m-0 tb-fs-14">doc/image/link/filename.pdf</a>
                    </div>
                  </div>
                  <div class="col-12 d-flex align-items-center pt-2">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14">Size: </h5>
                    </div>
                    <div class="col-6 ms-1">
                      <h5 class="m-0 tb-fs-14">2.43 MB</h5>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="col-12 ms-3">
                  <div class="col-12 d-flex align-items-center">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14">Uploaded by: </h5>
                    </div>
                    <div class="col-6 ms-1">
                      <img src="../assets/images/Icons/LA.svg" alt="">
                    </div>
                  </div>
                  <div class="col-12 d-flex align-items-center pt-2">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14">Last Updated: </h5>
                    </div>
                    <div class="col-6 ms-1">
                      <h5 class="m-0 tb-fs-14">15 May 2020 9:30 am</h5>
                    </div>
                  </div>
                  <div class="col-12 d-flex align-items-center pt-2">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14">File Version: </h5>
                    </div>
                    <div class="col-6 ms-1">
                      <h5 class="m-0 tb-fs-14">V 4.0</h5>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="col-12 ms-3">
                  <div class="col-12 d-flex align-items-center">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14 tb-copyright">Confidential & Copyrighted</h5>
                    </div>
                    <div class="col-6 ms-1">
                      <h5 class="m-0 tb-fs-14">Contact Enquiry</h5>
                    </div>
                  </div>
                  <div class="col-12 d-flex align-items-center pt-2">
                    <div class="col-6">
                      <h5 class="m-0 tb-fs-14">Download count: &nbsp; &nbsp; 10</h5>
                    </div>
                    <div class="col-6 ms-1">
                      <h5 class="m-0 tb-fs-14">No. Views: &nbsp; &nbsp; 1</h5>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-5 d-flex justify-content-center px-4">
                  <button class="btn btn-md tb-btn-secondary tb-rounded w-100" type="button">Download</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 1st DAM popup modal ends here -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-damn"
      data-bs-whatever="@mdo">Asset Library Filter</button>
    <div class="modal fade" id="exampleModal-damn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content tb-bg-body">
          <div class="modal-header">
            <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="sector" class="font-weight-500 mb-3">Sector</label>
                <div class="tb-input-group-damn-popup p-2">
                  <input class="col-11 input" autocomplete="off" role="combobox" id="sector" name="sector">
                  <i class="fa fa-solid fa-angle-down"></i>
                  <datalist role="listbox">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </datalist>
                </div>
              </div>
              <div class="col-md-6">
                <label for="name" class="font-weight-500 mb-3">Name</label>
                <div class="tb-input-group-damn-popup p-2">
                  <input class="col-12" id="name" name="name">
                </div>

              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="entity" class="font-weight-500 mb-3">Entity </label>
                <div class="tb-input-group-damn-popup p-2">
                  <input class="col-11 input" autocomplete="off" role="combobox" id="entity" name="entity">
                  <i class="fa fa-solid fa-angle-down"></i>
                  <datalist role="listbox">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </datalist>
                </div>
              </div>
              <div class="col-md-6">
                <label for="deliverables" class="font-weight-500 mb-3">Deliverables</label>
                <div class="tb-input-group-damn-popup p-2">
                  <input class="col-11 input" autocomplete="off" role="combobox" id="deliverables" name="deliverables">
                  <i class="fa fa-solid fa-angle-down"></i>
                  <datalist role="listbox">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </datalist>
                </div>
              </div>

            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="request-type" class="font-weight-500 mb-3">Request type </label>
                <div class="tb-input-group-damn-popup p-2">
                  <input class="col-11 input" autocomplete="off" role="combobox" id="request-type" name="request-type">
                  <i class="fa fa-solid fa-angle-down"></i>
                  <datalist role="listbox">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </datalist>
                </div>
              </div>
              <div class="col-md-6">
                <label for="asset-published-date" class="font-weight-500 mb-3">Asset published date</label>
                <div class="tb-input-group-damn-popup p-2">
                  <input type="date" class="col-12" name="asset-published-date" id="asset-published-date">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="asset-type" class="font-weight-500 mb-3">Asset type</label>
                <div class="tb-input-group-damn-popup p-2">
                  <input class="col-11 input" autocomplete="off" role="combobox" id="asset-type" name="asset-type">
                  <i class="fa fa-solid fa-angle-down"></i>
                  <datalist role="listbox">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </datalist>
                </div>
              </div>
              <div class="col-md-6">
                <label for="tag" class="font-weight-500 mb-3">Tag</label>
                <div class="tb-input-group-damn-popup p-2">
                  <input class="col-12" id="tag" name="tag">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ATTACHMENT INPUT MODAL ENDS HERE -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-attachment-pdf"
      data-bs-whatever="@mdo">Asset Library search</button>

    <div class="modal modal-lg fade" id="exampleModal-attachment-pdf" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content tb-bg-body border-0">
          <div class="modal-body py-0">
            <div class="row mb-4 pt-3">
              <div class="col-5 d-flex align-items-start pe-0">
                <img src="../assets/images/Icons/pdf-outline.svg" alt="" width="40" class="me-3">
                <div class="">
                  <p class="mb-0 text-gray-500">News Subtask for COVID</p>
                  <p class="mb-0 text-gray-300">18 Aug</p>
                </div>
              </div>
              <div class="col-4 ps-0">
                <p class="mb-0 text-black">News Subtask for COVID</p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-5 d-flex align-items-start pe-0">
                <img src="../assets/images/Icons/pdf-outline.svg" alt="" width="40" class="me-3">
                <div class="">
                  <p class="mb-0 text-gray-500">News Subtask for COVID</p>
                  <p class="mb-0 text-gray-300">18 Aug</p>
                </div>
              </div>
              <div class="col-4 ps-0">
                <p class="mb-0 text-black">News Subtask for COVID</p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-5 d-flex align-items-start pe-0">
                <img src="../assets/images/Icons/pdf-outline.svg" alt="" width="40" class="me-3">
                <div class="">
                  <p class="mb-0 text-gray-500">News Subtask for COVID</p>
                  <p class="mb-0 text-gray-300">18 Aug</p>
                </div>
              </div>
              <div class="col-4 ps-0">
                <p class="mb-0 text-black">News Subtask for COVID</p>
              </div>
            </div>
            <div class="row bg-white py-3 ">
              <div class="col-5 d-flex align-items-start pe-0">
                <img src="../assets/images/Icons/pdf-outline.svg" alt="" width="40" class="me-3">
                <div class="">
                  <p class="mb-0 text-gray-500">News Subtask for COVID</p>
                  <p class="mb-0 text-gray-300">18 Aug</p>
                </div>
              </div>
              <div class="col-4 ps-0">
                <p class="mb-0 text-black">News Subtask for COVID</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<!-- Javascript-files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="../javascript/script.js"></script>
<script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/plugins.min.js"></script>

</html>