<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buttons</title>
  <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Grid</h1>
        <div class="row g-3">
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="p-3  gray-600">Custom column padding</div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="p-3  gray-600">Custom column padding</div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="p-3  gray-600">Custom column padding</div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="p-3  gray-600">Custom column padding</div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="p-3  gray-600">Custom column padding</div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="p-3  gray-600">Custom column padding</div>
          </div>
        </div>
        <h1 class="my-4">Request Types</h1>
        <div class="col-12 my-5 mt-4">
            <div class="card border border-gray-100 py-3">
              <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center ps-2 px-1 py-1">
                  <div>
                    <h4 class="card-title tb-h3 pt-3 tb-bold ">Select type of request</h4>
                  </div>
                  <div class="ms-auto d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-center me-4">
                      <span class="rounded-circle pad-8-12 border-gray-500 ">
                        <i class="fa-solid fa-magnifying-glass "></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-white px-4 tb-rounded">
                <div class="row g-3">
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4>News</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4>
                          Circulars</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4 class="text-nowrap">
                          Communication Plan</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4 class="text-nowrap">
                          Media Consultation</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4>
                          Media Opportunities</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4 class="text-nowrap">
                          Media Assets Enquiries
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4>Patronage</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4 class="text-nowrap">
                          AD Brand Consultation
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4 class="text-nowrap">
                          Brand Consultation
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4 class="text-nowrap">
                          New Brand Approval
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4 class="text-nowrap">
                          Re-Branding Approval
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4 class="text-nowrap">
                          Brand Assets Enquiries</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4 class="text-nowrap">
                          Media Assets Archiving
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="d-flex gray-600 align-items-center p-3">
                      <div class="col-2">
                        <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                      </div>
                      <div class="pt-2">
                        <h4>
                          International Media Opportunities</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- request ends here -->
    </div>
</body>

<!-- Javascript-files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="../javascript/script.js"></script>
<script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/plugins.min.js"></script>

</html>