<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>buttons</title>
  <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <div class="container">
    <h1 class="my-4">Grid</h1>
    <div class="row g-3">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="p-3  gray-600">Custom column padding</div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="p-3  gray-600">Custom column padding</div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="p-3  gray-600">Custom column padding</div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="p-3  gray-600">Custom column padding</div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="p-3  gray-600">Custom column padding</div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="p-3  gray-600">Custom column padding</div>
      </div>
    </div>
    <div class="row">
    <div class="col-lg col-md col-sm col">hello</div>
    <div class="col-lg col-md col-sm col">hello</div>
    <div class="col-lg col-md col-sm col">hello</div>
    <div class="col-lg col-md col-sm col">hello</div>
    <div class="col-lg col-md col-sm col">hello</div>
    <div class="col-lg col-md col-sm col">hello</div>
    <div class="col-lg col-md col-sm col">hello</div>
    </div>
    <h1 class="my-4">Request Types</h1>
    <div class="col-12 my-5 mt-4">
      <div class="card border border-gray-100 py-3">
        <div class="card-body">
          <!-- title -->
          <div class="d-md-flex align-items-center ps-2 px-1 py-1">
            <div>
              <h4 class="card-title tb-h3 pt-3 tb-bold ">Select type of request</h4>
            </div>
            <div class="ms-auto d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-center me-4">
                <span class="rounded-circle pad-8-12 border-gray-500 ">
                  <i class="fa-solid fa-magnifying-glass "></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white px-4 tb-rounded">
          <div class="row g-3">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4>News</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4>
                    Circulars</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4 class="text-nowrap">
                    Communication Plan</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4 class="text-nowrap">
                    Media Consultation</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4>
                    Media Opportunities</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4 class="text-nowrap">
                    Media Assets Enquiries
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4>Patronage</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4 class="text-nowrap">
                    AD Brand Consultation
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4 class="text-nowrap">
                    Brand Consultation
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4 class="text-nowrap">
                    New Brand Approval
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4 class="text-nowrap">
                    Re-Branding Approval
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4 class="text-nowrap">
                    Brand Assets Enquiries</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4 class="text-nowrap">
                    Media Assets Archiving
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="d-flex gray-600 align-items-center p-3">
                <div class="col-2">
                  <img src="../assets/images/Ellipse 732.png" alt="" width="40">
                </div>
                <div class="pt-2">
                  <h4>
                    International Media Opportunities</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- request ends here -->
    <div class="bg-white w-50 notification-shadow tb-rounded pb-3">
      <div class="d-flex p-3 border-bottom justify-content-between">
        <p class="m-0">Notifications</p>
        <a href="#" class="text-decoration-none">See All</a>
      </div>
      <div class="d-flex gray-600 justify-content-between py-2 px-3 border-bottom">
        <div class="col-2 position-relative">
          <div class="position-absolute red-dot-circle">
            <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs"></i>
          </div>
          <img src="../assets/images/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="" class="radius-image">
        </div>
        <div class="col-10 text-start">
          <p class="m-0"> <span class="fw-bold">Linda Chow</span> Adel metanomi, och presyrade. Röngar geode. Kvasint
            norade jinade. Bokstav fov. </p>
        </div>
      </div>
      <div class="d-flex gray-600 justify-content-between py-2 px-3 border-bottom">
        <div class="col-2 position-relative">
          <div class="position-absolute red-dot-circle">
            <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs "></i>
          </div>
          <img src="../assets/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="" class="radius-image">
        </div>
        <div class="col-10 text-start">
          <p class="m-0"><span class="fw-bold">Linda Chow</span> Adel metanomi, och presyrade. Röngar geode. Kvasint
            norade jinade. Bokstav fov. </p>
        </div>
      </div>
      <div class="d-flex gray-600 justify-content-between py-2 px-3 border-bottom">
        <div class="col-2 position-relative">
          <div class="position-absolute red-dot-circle">
            <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs"></i>
          </div>
          <img src="../assets/images/yogendra-singh-HrpYHchKb5Y-unsplash.jpg" alt="" class="radius-image">
        </div>
        <div class="col-10 text-start">
          <p class="m-0"><span class="fw-bold">Linda Chow</span> Adel metanomi, och presyrade. Röngar geode. Kvasint
            norade jinade. Bokstav fov. </p>
        </div>
      </div>
      <div class="d-flex gray-600 justify-content-between py-2 px-3 border-bottom">
        <div class="col-2 position-relative">
          <div class="position-absolute red-dot-circle">
            <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs "></i>
          </div>
          <img src="../assets/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="" class="radius-image">
        </div>
        <div class="col-10 text-start">
          <p class="m-0"><span class="fw-bold">Linda Chow</span> Adel metanomi, och presyrade. Röngar geode. Kvasint
            norade jinade. Bokstav fov. </p>
        </div>
      </div>
    </div>


    <div class="row my-4">
      <div class="col-4  ">
        <div>
          <div class="d-flex">
            <div class="p-1">
              <div class="d-flex  justify-content-between py-3 px-1 ">
                <div class="col-2 position-relative">
                  <div class="position-absolute red-dot-circle">
                    <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs "></i>
                  </div>
                  <img src="../assets/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt=""
                    class="radius-image">
                </div>
              </div>
            </div>
            <div class="p-0 mt-3 fw-bold tb-fs-14">
              <h4> Darrell Steward</h4>
              <p class=" tb-fs-14 text-base-black">010204 | Title</p>
            </div>
            <div class="ms-auto p-0 mt-4">
              <span class="gray-100 pad-8-12 base-color-hover base-color-active">
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </div>
            <img src="../assets/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt=""
              class="conv-radius-img" width="20">
          </div>
          <div class="width-80 text-start">
            <p class="m-0"><span class="fw-bold tb-fs-14">Darrell Steward </span></p>
            <p class="m-0"><span class="tb-fs-14">010204 | Title </span></p>
          </div>
          <span class="gray-100 pad-2-9 gray-300-hover h-100">
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        </div>
        <div class="d-flex justify-content-between pt-2">
          <div class="col-11">
            <p class="tb-fs-12 mb-2 tb-gray-400">Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade.
              Bokstav fov. </p>
            <p class="tb-fs-12 tb-gray-400">5 mins ago</p>
          </div>
          <img src="../assets/images/akar-icons_double-check.svg" alt="" width="25">
        </div>
      </div>
      <div class="col-8 border-bottom h-100 pb-3 pe-0">
        <div class="d-flex">
          <div class="me-2 position-relative">
            <div class="position-absolute conversation-dot-circle">
              <i class="fa-sharp fa-solid fa-circle conversation-red-dot fa-xs "></i>
            </div>
            <img src="../assets/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt=""
              class="conv-radius-img" width="20">
          </div>
          <div class="width-77 conversation-title text-start d-flex align-items-center">
            <p class="m-0"><span class="fw-bold">Darrell Steward </span></p>
          </div>
          <span class="text-end">
            <p class="tb-fs-12 tb-gray-400">06/25/2019 02:13 AM</p>
          </span>
        </div>
        <div class="pt-3">
          <div class="col-11">
            <p class="tb-fs-12 mb-0 text-base-black">Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade
              jinade. Bokstav fov. Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-4  ">
        <div>
          <div class="d-flex">
            <div class="p-1">
              <div class="d-flex  justify-content-between py-3 px-1 ">
                <div class="col-2 position-relative">
                  <div class="position-absolute red-dot-circle">
                    <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs "></i>
                  </div>
                  <img src="../assets/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt=""
                    class="radius-image">
                </div>
              </div>
            </div>
            <div class="p-0 mt-3 fw-bold tb-fs-14">
              <h4> Darrell Steward</h4>
              <p class=" tb-fs-14 text-base-black">010204 | Title</p>
            </div>
            <div class="ms-auto p-0 mt-4">
              <span class="gray-100 pad-8-12 base-color-hover base-color-active">
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </div>
          </div>
          <div>
            <p class="text-base-gray mb-0 ms-2 tb-fs-12">
              Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
            </p>
            <div class="d-flex justify-content-end">
              <img src="../assets/images/Vector.svg" alt="">
            </div>
            <div class="mb-3 border-bottom">
              <p class=" tb-fs-12  ms-2 text-base-black">28 min ago</p>
            </div>
          </div>
        </div>
        <div>
          <div class="d-flex">
            <div class="p-1">
              <div class="d-flex  justify-content-between py-3 px-1 ">
                <div class="col-2 position-relative">
                  <div class="position-absolute red-dot-circle">
                    <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs "></i>
                  </div>
                  <img src="../assets/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt=""
                    class="radius-image">
                </div>
              </div>
            </div>
            <div class="p-0 mt-3 fw-bold tb-fs-14">
              <h4>Floyd Miles</h4>
              <p class=" tb-fs-12  text-base-black">010204 | Title</p>
            </div>
            <div class="ms-auto p-0 mt-4">
              <span class="gray-100 pad-8-12 base-color-hover base-color-active">
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </div>
          </div>
          <div>
            <p class="text-base-gray mb-0 ms-2 tb-fs-12 ">
              Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
            </p>
            <div class="d-flex justify-content-end">
              <img src="../assets/images/Vector.svg" alt="">
            </div>
            <div class="mb-3 border-bottom">
              <p class=" tb-fs-12 text-base-black ms-2">28 min ago</p>
            </div>
          </div>
        </div>
        <div>
          <div class="d-flex">
            <div class="p-1">
              <div class="d-flex  justify-content-between py-3 px-1 ">
                <div class="col-2 position-relative">
                  <div class="position-absolute red-dot-circle">
                    <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs "></i>
                  </div>
                  <img src="../assets/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt=""
                    class="radius-image">
                </div>
              </div>
            </div>
            <div class="p-0 mt-3 fw-bold tb-fs-14">
              <h4>Esther Howard</h4>
              <p class=" tb-fs-12 text-base-black">010204 | Title</p>
            </div>
            <div class="ms-auto p-0 mt-4">
              <span class="gray-100 pad-8-12 base-color-hover base-color-active">
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </div>
          </div>
          <div>
            <p class="text-base-gray mb-0 ms-2 tb-fs-12">
              Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
            </p>
            <div class="d-flex justify-content-end">
              <img src="../assets/images/Vector.svg" alt="">
            </div>
            <div class="mb-3 border-bottom">
              <p class=" tb-fs-12 text-base-black ms-2">28 min ago</p>
            </div>
          </div>
        </div>
        <div>
          <div class="d-flex">
            <div class="p-1">
              <div class="d-flex  justify-content-between py-3 px-1 ">
                <div class="col-2 position-relative">
                  <div class="position-absolute red-dot-circle">
                    <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs "></i>
                  </div>
                  <img src="../assets/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt=""
                    class="radius-image">
                </div>
              </div>
            </div>
            <div class="p-0 mt-3 fw-bold tb-fs-14">
              <h4>Cody Fisher</h4>
              <p class=" tb-fs-12  text-base-black">010204 | Title</p>
            </div>
            <div class="ms-auto p-0 mt-4">
              <span class="gray-100 pad-8-12 base-color-hover base-color-active">
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </div>
          </div>
          <div>
            <p class="text-base-gray mb-0 ms-2 tb-fs-12">
              Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
            </p>
            <div class="d-flex justify-content-end">
              <img src="../assets/images/Vector.svg" alt="">
            </div>
            <div class="mb-3 border-bottom ms-2">
              <p class=" tb-fs-12 text-base-black ">28 min ago</p>
            </div>
          </div>
        </div>
        <div>
          <div class="d-flex">
            <div class="p-1">
              <div class="d-flex  justify-content-between py-3 px-1 ">
                <div class="col-2 position-relative">
                  <div class="position-absolute red-dot-circle">
                    <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs "></i>
                  </div>
                  <img src="../assets/images/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt=""
                    class="radius-image">
                </div>
              </div>
            </div>
            <div class="p-0 mt-3 fw-bold tb-fs-14">
              <h4>Kristin Watson</h4>
              <p class=" tb-fs-12  text-base-black">010204 | Title</p>
            </div>
            <div class="ms-auto p-0 mt-4">
              <span class="gray-100 pad-8-12 base-color-hover base-color-active">
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </div>
          </div>
          <div>
            <p class="text-base-gray mb-0 ms-2 tb-fs-12">
              Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
            </p>
            <div class="d-flex justify-content-end">
              <img src="../assets/images/Vector.svg" alt="">
            </div>
            <div class="mb-3 border-bottom ms-2">
              <p class=" tb-fs-12 text-base-black ">28 min ago</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 ">
        <div class="row p-3">
          <div class="gray-100-hover">
            <div class="d-flex ">
              <div class="py-2 px-0">
                <div class="d-flex  justify-content-between py-2 px-3 ">
                  <div class="col-2 position-relative">
                    <div class="position-absolute red-dot-circle">
                      <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs"></i>
                    </div>
                    <img src="../assets/images/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="" class="radius-image">
                  </div>
                </div>
              </div>
              <div class="p-0 mt-4">
                <h6>Esther Howard</h6>
              </div>
              <div class="ms-auto p-2 mt-3 tb-fs-12 tb-gray-400">06/25/2019 02:13 AM</div>
            </div>
            <div class="border-bottom">
              <p class="text-start tb-fs-12 ms-3">
                Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov. Hey, del metanomi,
                och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
              </p>
            </div>
          </div>
          <div class="gray-100-hover">
            <div class="d-flex">
              <div class="py-2 px-0">
                <div class="d-flex  justify-content-between py-2 px-3 ">
                  <div class="col-2 position-relative">
                    <div class="position-absolute red-dot-circle">
                      <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs"></i>
                    </div>
                    <img src="../assets/images/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="" class="radius-image">
                  </div>
                </div>
              </div>
              <div class="p-0 mt-4">
                <h6>Esther Howard</h6>
              </div>
              <div class="ms-auto p-2 mt-3 tb-fs-12 tb-gray-400">06/25/2019 02:13 AM</div>
            </div>
            <div class="border-bottom">
              <p class="text-start tb-fs-12 ms-3">
                Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov. Hey, del metanomi,
                och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
              </p>
            </div>
          </div>
          <div class="gray-100-hover">
            <div class="d-flex">
              <div class="py-2 px-0">
                <div class="d-flex  justify-content-between py-2 px-3 ">
                  <div class="col-2 position-relative">
                    <div class="position-absolute red-dot-circle">
                      <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs"></i>
                    </div>
                    <img src="../assets/images/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="" class="radius-image">
                  </div>
                </div>
              </div>
              <div class="p-0 mt-4 ">
                <h6>Esther Howard</h6>
              </div>
              <div class="ms-auto p-2 mt-3 tb-fs-12 tb-gray-400">06/25/2019 02:13 AM</div>
            </div>
            <div class="border-bottom">
              <p class="text-start tb-fs-12 ms-3">
                Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov. Hey, del metanomi,
                och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
              </p>
            </div>
          </div>
          <div class="gray-100-hover">
            <div class="d-flex">
              <div class="py-2 px-0">
                <div class="d-flex  justify-content-between py-2 px-3 ">
                  <div class="col-2 position-relative">
                    <div class="position-absolute red-dot-circle">
                      <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs"></i>
                    </div>
                    <img src="../assets/images/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="" class="radius-image">
                  </div>
                </div>
              </div>
              <div class="p-0 mt-4">
                <h6>Esther Howard</h6>
              </div>
              <div class="ms-auto p-2 mt-3 tb-fs-12 tb-gray-400">06/25/2019 02:13 AM</div>
            </div>
            <div class="border-bottom">
              <p class="text-start tb-fs-12 ms-3">
                Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov. Hey, del metanomi,
                och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
              </p>
            </div>
          </div>
          <div class="gray-100-hover">
            <div class="d-flex">
              <div class="py-2 px-0">
                <div class="d-flex  justify-content-between py-2 px-3 ">
                  <div class="col-2 position-relative">
                    <div class="position-absolute red-dot-circle">
                      <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs"></i>
                    </div>
                    <img src="../assets/images/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="" class="radius-image">
                  </div>
                </div>
              </div>
              <div class="p-0 mt-4">
                <h6>Esther Howard</h6>
              </div>
              <div class="ms-auto p-2 mt-3 tb-fs-12 tb-gray-400">06/25/2019 02:13 AM</div>
            </div>
            <div class="border-bottom">
              <p class="text-start tb-fs-12 ms-3">
                Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov. Hey, del metanomi,
                och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
              </p>
            </div>
          </div>
          <div class="gray-100-hover">
            <div class="d-flex">
              <div class="py-2 px-0">
                <div class="d-flex  justify-content-between py-2 px-3 ">
                  <div class="col-2 position-relative">
                    <div class="position-absolute red-dot-circle">
                      <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs"></i>
                    </div>
                    <img src="../assets/images/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="" class="radius-image">
                  </div>
                </div>
              </div>
              <div class="p-0 mt-4">
                <h6>Esther Howard</h6>
              </div>
              <div class="ms-auto p-2 mt-3 tb-fs-12 tb-gray-400">06/25/2019 02:13 AM</div>
            </div>
            <div>
              <p class="text-start tb-fs-12 ms-3">
                Hey, del metanomi, och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov. Hey, del metanomi,
                och presyrade. Röngar geode. Kvasint norade jinade. Bokstav fov.
              </p>
            </div>
          </div>
          <div class="col-md-12 m-0 p-0">
            <div class=" p-2 border">
              <label class="col-12 input-label" for="dataList">Send a message </label>
              <input class="col-12" id="" name="">
              <div class="d-flex mt-3">

                <div class=" ms-auto py-2 px-3 mx-1 ">
                  <span class="pad-12-12 gray-100 rounded-circle">
                    <i class="fa-sharp fa-solid fa-paperclip"></i>
                  </span>
                </div>
                <div class="py-2 px-3 mx-1 tb-rounded bg-dark text-white">Send</div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- conversations ends here -->
    <div class="row my-4">
      <div class="bg-white w-50 notification-shadow tb-rounded pb-3 mt-4">
        <div>
          <div>
            <div>
              <h4 class="p-2 tb-fs-24 mt-3 text-dark-black font-weight-500">Comments</h4>
            </div>
            <div class="d-flex mb-3 mt-3">
              <div class="py-2 px-3 mx-1 tb-rounded bg-dark text-white">Show All</div>
              <div class="py-2 px-3 mx-1 tb-rounded gray-300 text-white">Show New</div>
              <div class="ms-auto p-2">
                <span class="pad-8-9 gray-100 rounded-circle">
                  <i class="fa-solid fa-search"></i>
                </span>
              </div>
              <div class="pt-1 ">
                <span class=" ">
                  <img src="../assets/images/Frame 34003.svg">
                </span>
              </div>
            </div>
            <div class="col-md-12 my-2 mx-0">
              <div class=" p-2 border">
                <label class="col-12 input-label" for="dataList">Type @ to mention someone </label>
                <input class="col-12" id="" name="">
                <div class="d-flex mt-3">
                  <div class="p-2">
                    <span class="pad-8-9 gray-100 rounded-circle">
                      <i class="fa-sharp fa-solid fa-lock"></i>
                    </span>
                  </div>
                  <div class=" p-2">
                    <span class="pad-8-9 gray-100 rounded-circle">
                      <i class="fa-sharp fa-solid fa-paperclip"></i>
                    </span>
                  </div>
                  <div class=" ms-auto py-2 px-3 mx-1 tb-rounded  gray-100 text-white">Cancel</div>
                  <div class="py-2 px-3 mx-1 tb-rounded bg-dark text-white">Send</div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex mb-3 mt-4">
            <div class="p-2">
              <div class="col-2 position-relative">
                <img src="../assets/images/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="" class="radius-image">
              </div>
            </div>
            <div class="p-2 fw-bold tb-fs-14 position-relative"> Mark Anthony
              <span class=" position-absolute comment-popup-icon">
                <img src="../assets/images/Frame 1368.svg" alt="" class="m-0">
              </span>
              <p class=" tb-fs-12 tb-gray-400">28 min ago</p>
            </div>
            <div class="ms-auto p-2"> <span class="pad-6-8 gray-100 rounded-circle">
                <i class="fa-solid fa-ellipsis"></i>
              </span></div>
          </div>
          <div class="ms-3">
            <p class="m-0 text-base-black tb-fs-14"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et
              ante iaculis, faucibus
              velit porta, tempor leo. Nunc eget erat nibh. Fusce vitae tempus est. </p>
          </div>
          <div>
            <img src="../assets/images/Container.svg" alt="" width="100%">
          </div>
        </div>
        <div class="d-flex mb-3 mt-4">
          <div class="p-2">
            <div class="col-2 position-relative">
              <img src="../assets/images/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="" class="radius-image">
            </div>
          </div>
          <div class="p-2 fw-bold tb-fs-14"> Mark Anthony
            <p class="tb-fs-12 tb-gray-400">3 hours ago</p>
          </div>
          <div class="ms-auto p-2"> <span class="pad-6-8 gray-100 rounded-circle">
              <i class="fa-solid fa-ellipsis"></i>
            </span></div>
        </div>
        <div class="ms-3">
          <p class="m-0 text-base-black tb-fs-14"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et
            ante
            iaculis, faucibus velit porta, tempor leo. Nunc eget erat nibh. Fusce vitae tempus est. </p>
          <p class="tb-fs-12 tb-gray-400 border-bottom mt-3">3 Replies</p>
        </div>
        <div class="d-flex mb-3 mt-4 ">
          <div class="p-2">
            <div class="col-2 position-relative">
              <img src="../assets/images/bruce-mars-8YG31Xn4dSw-unsplash.jpg" alt="" class="radius-image">
            </div>
          </div>
          <div class="p-2 fw-bold tb-fs-14"> Mark Anthony
            <p class="tb-fs-12 tb-gray-400">3 hours ago</p>
          </div>
          <div class="ms-auto p-2"> <span class="pad-6-8 gray-100 rounded-circle">
              <i class="fa-solid fa-ellipsis"></i>
            </span></div>
        </div>
        <div class="ms-3 text-base-black tb-fs-14">
          <p class="m-0 border-bottom"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ante
            iaculis, faucibus velit porta, tempor leo. Nunc eget erat nibh. Fusce vitae tempus est. </p>
        </div>
      </div>
    </div>
    <!-- comments ends here -->
  </div>
</body>

<!-- Javascript-files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="../javascript/script.js"></script>
<script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/plugins.min.js"></script>

</html>