<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status-labels & breadcrumb</title>
  <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <div class="container">
    <h1>Status Labels</h1>

    <div class="row d-flex flex-row flex-wrap g-3">
      <span
        class="common-width-label-12 d-flex align-items-center justify-content-evenly p-2  status-color-purple-op">
        <i class="tb-purple  fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-purple">FEEDBACK</h4>
      </span>
      <span
        class="common-width-label-16 d-flex align-items-center justify-content-evenly p-2 status-color-gray-op">
        <i class="text-base-black fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 text-base-black">UNDER REVIEW</h4>
      </span>
      <span class="common-width-label-16  d-flex align-items-center justify-content-evenly p-2 ">
        <i class="text-base-black fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 text-base-black">UNDER REVIEW</h4>
      </span>
      <span
        class="common-width-label-14 d-flex align-items-center justify-content-evenly p-2 status-color-pink-op">
        <i class="tb-pink fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-pink">IN PROGRESS</h4>
      </span>
      <span
        class="common-width-label-12 d-flex align-items-center justify-content-evenly p-2 status-color-orange-op">
        <i class="tb-orange fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-orange">ON HOLD</h4>
      </span>
      <span
        class="common-width-label-11 d-flex align-items-center justify-content-evenly p-2 status-color-purple-op">
        <i class="tb-purple fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-purple">BLOCKED</h4>
      </span>
      <span
        class="common-width-label-13 d-flex align-items-center justify-content-evenly p-2 status-color-green-op">
        <i class="tb-green fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-green">COMPLETED</h4>
      </span>
      <span
        class="common-width-label-13 d-flex align-items-center justify-content-evenly p-2 base-color-op">
        <i class="tb-primary fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-primary">CANCELLED</h4>
      </span>
      <span
        class="common-width-label-14 d-flex align-items-center justify-content-evenly p-2 status-color-yellow-op">
        <i class="tb-yellow fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-yellow">SCHEDULING</h4>
      </span>
      <span
        class="common-width-label-12 d-flex align-items-center justify-content-evenly p-2 status-color-blue-op">
        <i class="tb-blue fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-blue">PUBLISHED</h4>
      </span>
      <span
        class="common-width-label-13 d-flex align-items-center justify-content-evenly p-2 status-color-yellow-op">
        <i class="tb-yellow fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-yellow">SCHEDULED</h4>
      </span>
      <span
        class="common-width-label-12 d-flex align-items-center justify-content-evenly p-2 status-color-green-op">
        <i class="tb-green fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-green">APPROVED</h4>
      </span>
      <span
        class="common-width-label-11 d-flex align-items-center justify-content-evenly p-2 base-color-op">
        <i class="tb-primary fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-primary">REJECTED</h4>
      </span>
    </div>
    <div class="row my-4">
      <span
        class="common-width-label-6 d-flex align-items-center justify-content-around p-2 status-color-yellow-op2">
        <i class="text-white fa-solid fa-up-right-and-down-left-from-center"></i>
        <h4 class="tb-h5 mb-0 text-white">L2</h4>
      </span>
      <span
        class="common-width-label-5 d-flex align-items-center justify-content-around p-2 base-color-op2">
        <i class="text-white fa-solid fa-arrow-up"></i>
        <h4 class="tb-h5 mb-0 text-white">L1</h4>
      </span>
      <span class="common-width-label-6  d-flex align-items-center justify-content-around p-2 status-color-yellow-op2">
        <i class="text-white fa-solid fa-arrow-right"></i>
        <h4 class="tb-h5 mb-0 text-white">L3</h4>
      </span>
      <span class="common-width-label-6  d-flex align-items-center justify-content-around p-2 status-color-green-op2">
        <i class="text-white fa-solid fa-arrow-down"></i>
        <h4 class="tb-h5 mb-0 text-white">L4</h4>
      </span>
      <span
        class="common-width-label-45 gray-100 rounded-circle  d-flex justify-content-center align-items-center  mx-2">
        <p class="mb-0 bold-paragraph mt-1">SK</p>
      </span>
      <div class="rounded-circle w-h-45 bg-danger bg-opacity-10 d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/Icons/person-red.svg" alt="">
      </div>
      <div class="position-relative rounded-circle w-h-45 bg-danger bg-opacity-10 d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/Icons/person-red.svg" alt="">
        <div class="position-absolute red-dot-circle">
          <i class="fa-sharp fa-solid fa-circle notification-dot fa-xs "></i>
        </div>
      </div>
      <div class="col-6"> <span class="p-2 status-color-blue-op rounded">
        <i class="tb-blue fa-xs fa-sharp fa-solid fa-circle "></i>
        <h4 class="tb-h5 mb-0 tb-blue ms-3 d-inline-block">Approved</h4>
      </span>
    </div>
    </div>
    <!-- Request & task Status Labels ends here -->
    <h1>BreadCrumbs</h1>
    <div class="row gy-3">
      <div class="bg-white py-2 breadcrumbs-shadow">
        <p class="m-0 text-base-black">Home</p>
      </div>
      <div class="bg-white py-2 breadcrumbs-shadow d-flex align-items-center">
        <div>
          <a href="#" class="tb-gray-400 tb-base-black-hover me-2">Home</a>
          <i class="fa-solid fa-chevron-right fa-xs text-base-black"></i>
        </div>
        <div>
          <a href="#" class="tb-gray-400 tb-base-black-hover ms-3">Requests</a>
        </div>
      </div>
      <div class="bg-white py-2 breadcrumbs-shadow d-flex align-items-center">
        <div>
          <a href="#" class="tb-gray-400 tb-base-black-hover me-2">Home</a>
          <i class="fa-solid fa-chevron-right fa-xs text-base-black"></i>
        </div>
        <div class="d-flex align-items-center">
          <a href="#" class="tb-gray-400 tb-base-black-hover ms-3 me-2">Requests</a>
          <i class="fa-solid fa-chevron-right fa-xs text-base-black me-3"></i>
          <p class="m-0 tb-primary">Abu Dhabi Police requests</p>
        </div>
      </div>
      <div class="bg-white py-2 breadcrumbs-shadow d-flex align-items-center justify-content-between">
        <div class="col-10">
          <i class="fa-solid fa-arrow-left me-2"></i>
          <a href="#" class="text-decoration-none text-dark">Back</a>
        </div>
        <div class="col-1 text-end">
          <a href="#" class="tb-gray-400 tb-base-black-hover me-2">Home</a>
          <i class="fa-solid fa-chevron-right fa-xs text-base-black"></i>
        </div>
        <div class="text-end">
          <a href="#" class="tb-gray-400 tb-base-black-hover ">Requests</a>
        </div>
      </div>
    </div>

    <div class="py-4 d-flex align-items-center justify-content-between">
      <div class="col-2">
        <i class="fa-solid fa-arrow-left"></i>
        <a href="#" class="text-decoration-none text-dark">Back</a>
      </div>
      <div class="d-flex">
        <div>
          <a href="#" class="tb-gray-400 tb-base-black-hover">Home</a>
          <i class="fa-solid fa-chevron-right fa-xs text-base-black mx-3"></i>
        </div>
        <div>
          <a href="#" class="text-base-black text-decoration-none">Requests</a>
          <i class="fa-solid fa-chevron-right fa-xs text-base-black mx-3"></i>
        </div>
        <div>
          <a href="#" class="text-base-black text-decoration-none">Overview</a>
        </div>
      </div>
    </div>
    <!-- breadcrumb ends here -->
  </div>
</body>

<!-- Javascript-files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="../javascript/script.js"></script>
<script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/plugins.min.js"></script>

</html>