@media(min-width:320px){
    .navbar-style{
        padding: 20px 10px;
    }
}
@media(max-width:575px){
    .header-icons{
        display: none;
    }
    #navbarTogglerDemo01{
        display: flex;
        justify-content: space-between;
    }
}
@media(max-width:768px){
    .mobile-icons-sidebar{
        display: flex !important;
    }
    .sidebar{
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 280px;
        /* padding: 10px 0px; */
        background: var(--base-white-color);
        /* transition: var(--tran-05); */
        transition: 0.4s ease-in-out;
        z-index: 100;
    }
    .sidebarClose{
        position: fixed;
        top: 0%;
        left: -100% !important;
        height: 100%;
        width: 280px;
        /* padding: 10px 0px; */
        background: var(--base-white-color);
        transition: 0.4s ease-in-out;
        z-index: 100;
    }
    .sidebar header .toggle{
        display: none;
    }
    .main-section {
        position: relative;
        background: var(--body-bg);
        min-height: 100vh;
        width: 100%;
        padding: 15px 40px !important;
        left: 0 !important;
        transition: all 0.5s ease;
        top: 6rem;
    }
    .sidebar-background-dim{
    background-color: rgb(0 0 0 / 44%);
    width: 100vw !important;
    overflow: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    transition: 0.4s ease-in-out;
    z-index: 100;
    }
}

