*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
}


/* ---------------------------------navbar------------------------------- */
.navbar-header{
    width: 100%;
    height: 88px;
}
.userImg-container{
    width: 50px; 
    height:50px;
}
.user-nameline{
    font-size:14px;
    color: var(--grayshade-200);
}
.vartical-line{
    height: 45px;
    width: 2.5px;
    background-color: var(--grayshade-100);
}
.img-containerbox{
    width: 256px;
    height: 56px;
}
.img-responsive{
    width: 100%;
    height: 100%;
}
