.popup-absolute{
    left: -350px;
}
#exampleModal-add-new .main-modal{
    right: 40px;
    position: absolute;
}
#prlDeliverableModal .main-modal{
    right: 40px;
    position: absolute;
}
    
/* CUSTOM POPUP CSS */