.popup-absolute{
    left: -350px;
}
#exampleModal-add-new .main-modal{
    right: 40px;
    position: absolute;
}
#prlDeliverableModal .main-modal{
    right: 40px;
    position: absolute;
}
#socialMedia .main-modal{
    right: 40px !important;
    position: absolute !important;
}

    
/* CUSTOM POPUP CSS */