body{
  background-color: #dfdfdf;
}


/* --------------- Styles For Colors ----------------- */



/*----------------------------- ROOT FOR COLORS ----------------- */
:root {
  --base-color: #ef3f43;
  --status-color-green: #37c3a1;
  --status-color-blue: #11a6ff;
  --status-color-yellow: #dab70a;
  --status-color-orange: #ffa800;
  --status-color-purple: #8129c7;
  --status-color-pink: #f11d9c;

  /*----------------------------- GRAY COLORS ----------------- */

  --grayshade-100: #eceff1;
  --grayshade-200: #b0b0b0;
  --grayshade-300: #b8b8b8;
  --grayshade-400: #8c8c8c;
  --grayshade-500: #37474f;
  --grayshade-600:#fbfbfb;

  /*----------------------------- TYPOGRAPHY COLORS ----------------- */

  --text-base-black: #393939;
  --text-base-white: #ffffff;
  --selected-text: "Graphik";
  --font-style: bold;
  --font-weight-100: "100";
  --font-weight-200: "200";
  --font-weight-300: "300";
  --font-weight-400: "400";
  --font-weight-500: "500";
  --font-weight-600: "600";
  --font-weight-700: "700";
  --font-weight-800: "800";
  --font-weight-900: "900";
  --font-ft-size: 1.563rem;

  /*----------------------------- BUTTON COLORS ----------------- */

  --btn-bg-default: #37474f;
  --btn-bg-hover: #8c8c8c;
  --btn-bg-selected: #b0b0b0;
  --btn-bg-disabled: #eceff1;

  /*----------------------------- FONT FAMILY ----------------- */

  --font-family: sans-serif;
}

/* ------------------- PRIMARY COLORS ------------------- */

.tb-primary {
  color: var(--base-color);
}

.tb-bg-primary {
  background-color: var(--base-color);
}

/*----------------------------- STATUS COLORS ------------------ */

/* ------- BG STATUS COLORS ---- */
.tb-bg-green {
  background-color: var(--status-color-green);
}

.tb-bg-blue {
  background-color: var(--status-color-blue);
}
.tb-bg-yellow {
  background-color: var(--status-color-yellow);
}
.tb-bg-orange {
  background-color: var(--status-color-orange);
}
.tb-bg-purple {
  background-color: var(--status-color-purple);
}
.tb-bg-pink {
  background-color: var(--status-color-pink);
}

/* ------- CONTENT STATUS COLORS ---- */

.tb-green {
  color: var(--status-color-green);
}

.tb-blue {
  color: var(--status-color-blue);
}
.tb-yellow {
  color: var(--status-color-yellow);
}
.tb-orange {
  color: var(--status-color-orange);
}
.tb-purple {
  color: var(--status-color-purple);
}
.tb-pink {
  color: var(--status-color-pink);
}

/* ------------------- TYPOGRAPHY COLORS ------------------- */
.text-base-black{
color: var(--text-base-black);
}
.text-base-white{
 color: var(--text-base-white);
}
/* -------------------- Icon-border ------------------- */

.border-gray-500:hover {
  border: 1px solid var(--btn-bg-hover) !important;
  color: var(--btn-bg-hover);
}

.border-gray-500:active {
  border: 1px solid var(--btn-bg-selected) !important;
  color: var(--btn-bg-selected);
}
.border-gray-500:disabled {
  border: 1px solid var(--btn-bg-disabled) !important;
  color: var(--btn-bg-disabled);
}

/*----------------------------- GRAY COLORS SHADE----------------- */
.gray-100 {
  background-color: var(--grayshade-100);
}
.gray-200 {
  background-color: var(--grayshade-200);
}
.gray-300 {
  background-color: var(--grayshade-300);
}
.gray-400 {
  background-color: var(--grayshade-400);
}
.gray-500 {
  background-color: var(--grayshade-500);
}
.gray-600 {
  background-color: var(--grayshade-600);
}

/* -------------------------- GRAY BORDER COLORS ----------------- */

.border-gray-100 {
  border: 1px solid var(--grayshade-100);
}

/*------------- Grayshades-hover -------------*/

.gray-300-hover:hover {
  background-color: var(--grayshade-300);
}
.border-gray-200 {
  border: 1px solid var(--grayshade-200);
}
.border-gray-300 {
  border: 1px solid var(--grayshade-300);
}
.border-gray-400 {
  border: 1px solid var(--grayshade-400);
}
.border-gray-500 {
  border: 1px solid var(--grayshade-500);
}

/*------------- GRAYSHADES HOVER COLORS -------------*/

.gray-300-hover:hover {
  background-color: var(--grayshade-300);
}
.gray-300-hover:hover {
  background-color: var(--grayshade-300);
}

/* ------------------- BORDERS-RADIUS ------------------- */

.tb-rounded {
  border-radius: 8px !important;
}

.tb-rounded-pill {
  border-radius: 64px;
}

/* ----------------- BUTTONS ------------------- */

.btn-lg {
  padding: 11px 26px !important;
}

.btn-md {
  padding: 8px 26px !important ;
}

.btn-sm {
  padding: 2px 26px !important ;
}

.btn-xs {
  padding: 2px 26px !important ;
}

/* ------------------- PRIMARY BUTTONS ------------------- */

.tb-btn-primary {
  background-color: var(--btn-bg-default);
  color: var(--text-base-white);
}

.tb-btn-primary:hover {
  background-color: var(--btn-bg-hover) !important;
}

.tb-btn-primary:active {
  background-color: var(--btn-bg-selected) !important;
  border: 1px solid var(--btn-bg-selected) !important;
}

.tb-btn-primary:disabled {
  background-color: var(--btn-bg-disabled) !important;
  border: 1px solid var(--btn-bg-disabled) !important;
}

/* ------------------- SECONDARY BUTTONS ------------------- */

.tb-btn-secondary {
  background-color: #fff !important;
  border: 1px solid var(--btn-bg-default) !important;
  color: var(--btn-bg-default) !important;
}

.tb-btn-secondary:hover {
  border: 1px solid var(--btn-bg-hover) !important;
  color: var(--btn-bg-hover) !important;
}

.tb-btn-secondary:active {
  border: 1px solid var(--btn-bg-selected) !important;
  color: var(--btn-bg-selected) !important;
}

.tb-btn-secondary:disabled {
  border: 1px solid var(--btn-bg-disabled) !important;
  color: var(--btn-bg-disabled) !important;
}

/*-----------------------------Border-Styles---------------- */

.border-primary {
  border: 1px solid var(--grayshade-500);
}

/* --------------------- Paddings --------------------- */

.pad-8-12 {
  padding: 8px 12px;
}

.table-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}


