body {
  background-color: #dfdfdf;
}



/* ------ Styles For Colors ------ */
/*----- ROOT FOR COLORS ------ */
:root {
  --base-color: #ef3f43;
  --base-black-color: #000;
  --base-white-color: #fff;
  --status-color-green: #37c3a1;
  --status-color-blue: #11a6ff;
  --status-color-yellow: #dab70a;
  --status-color-orange: #ffa800;
  --status-color-purple: #8129c7;
  --status-color-pink: #f11d9c;



  /* overview-boxes colors */

  --first-box-color: #E99293;
  --two-box-color: #D9F4ED;
  --three-box-color: #D2EEFF;
  --four-box-color: #EDEDED;

  /*----- GRAY COLORS ------ */

  --grayshade-100: #eceff1;
  --grayshade-200: #b0b0b0;
  --grayshade-300: #b8b8b8;
  --grayshade-400: #8c8c8c;
  --grayshade-500: #37474f;
  --grayshade-600:#fbfbfb;
  --para-disabled: #808191;
  /*----- TYPOGRAPHY ----- */

  --text-base-black: #393939;
  --text-base-white: #ffffff;
  --selected-text: "Graphik";
  --font-style: bold;
  --font-weight-100: "100";
  --font-weight-200: "200";
  --font-weight-300: "300";
  --font-weight-400: "400";
  --font-weight-500: "500";
  --font-weight-600: "600";
  --font-weight-700: "700";
  --font-weight-800: "800";
  --font-weight-900: "900";
  --font-ft-size: 1.563rem;

  /*------ BUTTON COLORS ----- */

  --btn-bg-default: #37474f;
  --btn-bg-hover: #8c8c8c;
  --btn-bg-selected: #b0b0b0;
  --btn-bg-disabled: #eceff1;

  /*----- FONT-FAMILY ----- */

  --font-family: sans-serif;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}



/* --- PRIMARY COLORS --- */

.tb-primary {
  color: var(--base-color) !important;
}

.tb-bg-primary {
  background-color: var(--base-color);
}

/*-------- STATUS COLORS ------ */

/* ------- BG STATUS COLORS ---- */
.tb-bg-green {
  background-color: var(--status-color-green);
}

.tb-bg-blue {
  background-color: var(--status-color-blue);
}

.tb-bg-yellow {
  background-color: var(--status-color-yellow);
}

.tb-bg-orange {
  background-color: var(--status-color-orange);
}

.tb-bg-purple {
  background-color: var(--status-color-purple);
}

.tb-bg-pink {
  background-color: var(--status-color-pink);
}

/* ------- CONTENT STATUS COLORS ---- */

.tb-green {
  color: var(--status-color-green) !important;
}

.tb-blue {
  color: var(--status-color-blue) !important;
}

.tb-yellow {
  color: var(--status-color-yellow) !important;
}

.tb-orange {
  color: var(--status-color-orange) !important;
}

.tb-purple {
  color: var(--status-color-purple) !important;
}

.tb-pink {
  color: var(--status-color-pink) !important;
}


/* STATUS COLOR OPACITY-BACKGROUNDS */

.status-color-purple-op{
  background: #8129c72e;

}
.status-color-gray-op{
  background: #b0b0b069;
}
.status-color-pink-op{
  background: #F11D9C1A;
}
.status-color-orange-op{
  background: #FFA8001A;
}
.status-color-green-op{
  background: #37C3A11A;
}
.status-color-yellow-op{
  background: #FDFAE8;
}
.status-color-blue-op{
  background: #2B93D11A;
}
.base-color-op{
  background: #EF3F431A;
}
.base-color-op2{
  background: #ef3f4385;
}
.status-color-yellow-op2{
  background: #efcb197d;
}
.status-color-green-op2{
  background: #37c3a175;
}

/* COMMON WIDTH FOR STATUS COLOR LABELS */
.common-width-label-11{
  width: 11%;
}
.common-width-label-12{
  width: 12%;
}
.common-width-label-16{
  width: 16%;
}
.common-width-label-13{
  width: 13%;
}
.common-width-label-14{
  width: 14%;
}
.common-width-label-5{
  width: 5%;
}
.common-width-label-6{
  width: 6%;
}
.common-width-label-3{
  width: 3%;
}

/* --- TYPOGRAPHY COLORS --- */

.text-base-black {
  color: var(--text-base-black);
}

.text-base-white {
  color: var(--text-base-white);
}

/*-------- Headings ------*/

.tb-h1,
.tb-h2,
.tb-h3,
.tb-h4,
.tb-h5,
.tb-heading-1,
.tb-heading-2 {
  font-style: normal;
  font-weight: 700;
  color: var(--text-base-black);
}

.tb-heading-1 {
  font-size: 3.813rem;
  line-height: 1.2;
}

.tb-heading-2 {
  font-size: 3.125rem;
  line-height: 1.2;
}

.tb-h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.tb-h2 {
  font-size: 1.938rem;
  line-height: 1.2;
}

.tb-h3 {
  font-size: 1.563rem;
  line-height: 1.2;
}

.tb-h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}

.tb-h5 {
  font-size: 1rem;
  line-height: 1.4;
}

.lead-paragraph,
.regular-paragraph,
.bold-paragraph,
.small-paragraph,
.caption-paragraph {
  font-style: normal;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
}

.lead-paragraph {
  font-size: 1.125rem;
  line-height: 1.5;
}

.regular-paragraph {
  font-size: 1rem;
  line-height: 2.1;
}

.bold-paragraph {
  font-weight: 700;
  font-size: 1;
  line-height: 1.6;
}

.small-paragraph {
  font-size: 0.875rem;
  line-height: 1.9;
}

.caption-paragraph {
  font-size: 0.875rem;
  line-height: 1.9;
}

.tb-disabled-para{
  color: #808191;
}

/* ---- Icon-border --- */

.border-gray-500:hover {
  border: 1px solid var(--btn-bg-hover) !important;
  color: var(--btn-bg-hover);
}

.border-gray-500:active {
  border: 1px solid var(--btn-bg-selected) !important;
  color: var(--btn-bg-selected);
}

.border-gray-500:disabled {
  border: 1px solid var(--btn-bg-disabled) !important;
  color: var(--btn-bg-disabled);
}

/*----- GRAY COLORS SHADE ----- */
.gray-100 {
  background-color: var(--grayshade-100);
}

.gray-200 {
  background-color: var(--grayshade-200);
}

.gray-300 {
  background-color: var(--grayshade-300);
}

.gray-400 {
  background-color: var(--grayshade-400);
}

.gray-500 {
  background-color: var(--grayshade-500);
}

.gray-600 {
  background-color: var(--grayshade-600);
}

/* ---- GRAY BORDER COLORS ---- */

.border-gray-100 {
  border: 1px solid var(--grayshade-100);
}

.border-gray-100 {
  border: 1px solid var(--grayshade-500);
}

/*------------- Grayshades-hover -------------*/

.gray-300-hover:hover {
  background-color: var(--grayshade-300);
}

.border-gray-200 {
  border: 1px solid var(--grayshade-200);
}

.border-gray-300 {
  border: 1px solid var(--grayshade-300);
}

.border-gray-400 {
  border: 1px solid var(--grayshade-400);
}

.border-gray-500 {
  border: 1px solid var(--grayshade-500);
}

/*----- GRAYSHADES HOVER COLORS -----*/

.gray-300-hover:hover {
  background-color: var(--grayshade-300);
}

.gray-300-hover:hover {
  background-color: var(--grayshade-300);
}

/* --- BORDERS-RADIUS --- */

.tb-rounded {
  border-radius: 8px !important;
}

.tb-rounded-pill {
  border-radius: 64px;
}

/* - BUTTONS --- */

.btn-lg {
  padding: 11px 26px !important;
}

.btn-md {
  padding: 8px 26px !important;
}

.btn-sm {
  padding: 2px 26px !important;
}

.btn-xs {
  padding: 2px 26px !important;
}

/* --- PRIMARY BUTTONS --- */

.tb-btn-primary {
  background-color: var(--btn-bg-default);
  color: var(--text-base-white) !important;
}

.tb-btn-primary:hover {
  background-color: var(--btn-bg-hover) !important;
}

.tb-btn-primary:active {
  background-color: var(--btn-bg-selected) !important;
  border: 1px solid var(--btn-bg-selected) !important;
}

.tb-btn-primary:disabled {
  background-color: var(--btn-bg-disabled) !important;
  border: 1px solid var(--btn-bg-disabled) !important;
}

/* --- SECONDARY BUTTONS --- */

.tb-btn-secondary {
  background-color: #fff !important;
  border: 1px solid var(--btn-bg-default) !important;
  color: var(--btn-bg-default) !important;
}

.tb-btn-secondary:hover {
  border: 1px solid var(--btn-bg-hover) !important;
  color: var(--btn-bg-hover) !important;
}

.tb-btn-secondary:active {
  border: 1px solid var(--btn-bg-selected) !important;
  color: var(--btn-bg-selected) !important;
}

.tb-btn-secondary:disabled {
  border: 1px solid var(--btn-bg-disabled) !important;
  color: var(--btn-bg-disabled) !important;
}

/* ----- Paddings ----- */

.pad-8-12 {
  padding: 8px 12px;
}


/* -------- Inputs and Dropdowns-starts here --------- */
.input-label{
font-size:12px ;
}

input{
  outline: none;
  border: none;
}

.tb-input-group {
  position: relative;
  background-color: var(--base-white-color);
}

.tb-input-group:hover , .tb-input-group:active{
  border: 1px solid var(--btn-bg-hover) !important;
}


 .focus:focus + .tb-input-group:focus i{
  transform: rotate(180deg);
  transition: transform .8s ease;  
}

datalist {
  width: 100%;
  position: absolute;
  background-color: white;
  border-top: none;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
  margin-top: 13px;
  margin-left: -8px;
}

option {
  background-color: white;
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

option:hover,
.active {
  background-color: var(--grayshade-100);
}

/* -------- Dropdowns ends here --------- */